@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AZURE Web App Service</h1>
    <h2>This is a ASP.NET CORE application hosted from Linux based Web App Service...</h2>
</div>
